a {
    position: relative;
    transition: all 400ms 200ms; /* duration and delay */
  }
  
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: 
      linear-gradient(
        to right,
        rgb(100, 128, 126),
        rgb(13, 2, 26)

      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: opacity 400ms, background-size 400ms 200ms;
  }
  
  a:hover::after {
    background-size: 0 3px, 100% 3px;
  }
  
  /* navbar.css */
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style-type: none;
    margin-left: 15px; /* adjust this value to decrease the gap between links */
  }
  
  /* Additional styles for link transition */
  .transition-transform {
    transition: transform 1s ease-in-out;
  }
  