
.app {
  background: linear-gradient(to bottom right, #070547, #020004, #1B033A);
}

/* Default styles for laptop/desktop */
.app {
  minHeight: 180vh;
}

/* Mobile styles in Portrait mode */
@media (max-width: 768px) and (orientation: portrait) {
  .app {
    minHeight: 300vh;
  }
}

/* Mobile styles in Landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  .app {
    minHeight: 320vh;
  }
}


.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  max-height: 100px;
  overflow: hidden;
  z-index: 1;
}

.logo {
  width: 100%;
  height: auto;
}
/* App.css */
.logo.hovered {
  transform: scale(1.1) rotate(5deg); /* This will scale the logo to 110% and rotate it 5 degrees */
  transition: all 0.5s ease-in-out; /* This will ensure the transformation takes half a second with an ease-in-out timing function */
}




@media (max-width: 600px) {
  .logo-container {
    width: 100px;
    max-height: 50px;
  }
}

.mySvgClass {
  animation: spin 2s linear infinite;
}
